{% extends "sqladmin/layout.html" %}
{% block content %}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ model_view.name_plural }}</h3>
      <div class="ms-auto" style="display: flex; flex-direction: column; align-items: start;">
        <div style="margin-bottom: 15px;">
            <div class="d-inline-block">
                <a data-bs-toggle="dropdown" onclick="importFile()"
                    class="btn btn-secondary">
                    Import
                </a>
            </div>
            <style>
                .import .message .error{
                    color: rgb(255, 50, 50);
                }
            </style>

            {% if model_view.can_export %}
            {% if model_view.export_types | length > 1 %}
            <div class="ms-3 d-inline-block dropdown">
            <a href="#" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false">
                Export
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for export_type in model_view.export_types %}
                <li><a class="dropdown-item"
                    href="{{ url_for('admin:export', identity=model_view.identity, export_type=export_type) }}">{{
                    export_type | upper }}</a></li>
                {% endfor %}
            </ul>
            </div>
            {% elif model_view.export_types | length == 1 %}
            <div class="ms-3 d-inline-block">
            <a href="{{ url_for('admin:export', identity=model_view.identity, export_type=model_view.export_types[0]) }}"
                class="btn btn-secondary">
                Export
            </a>
            </div>
            {% endif %}
            {% endif %}
            {% if model_view.can_create %}
            <div class="ms-3 d-inline-block">
            <a href="{{ url_for('admin:create', identity=model_view.identity) }}" class="btn btn-primary">
                + New {{ model_view.name }}
            </a>
            </div>
            {% endif %}
        </div>
        <div class="import" style="display: flex; gap: 15px;display: flex; flex-direction: column; align-items: start; margin-bottom: 15px;">
          <div style="display: flex; gap: 15px;">
            <select class="import-type" style="height: 30px;">
              <option><a class="dropdown-item" onclick="loadUsernames()">Имена (pre)</a></option>
              <option><a class="dropdown-item" onclick="loadTraders()">Профили (new)</a></option>
              <option><a class="dropdown-item" onclick="loadSubscribes()">Подписки (on)</a></option>
            </select>
            <div>
              <input type="file" id="traders-file">
            </div>
          </div>
          <span class="message"></span>
        </div>

        <script>
          function clearBuffer(){
            fetch('/clear-buffer/', {method: "delete"}).then(
              response => {
                if (response.ok){
                  document.querySelector("#buffer-count").innerHTML = '0';
                }
              }
            )
          }
        </script>

        <div class="buffer">
          <span>Буфер: <a id="buffer-count" >{{ request.session.buffer|length }}</a></span>
          <a><span onclick="clearBuffer()" class="me-1"><i class="fa-solid fa-trash"></i></span></a>
        </div>

        <style>
          .buffer{
            display: flex;
            gap: 10px;
            margin-right: 30px;
          }

          .buffer a{
            color: rgba(var(--tblr-link-color-rgb), var(--tblr-link-opacity, 1))!important;
            text-decoration: none;
          }

          .buffer i{
            cursor: pointer;
          }
        </style>

        <script>
            const fileInput = document.getElementById("traders-file");
            const messageContainer = document.querySelector(".import .message");

            function importFile(){
              const type = document.querySelector(".import-type").value;

              if (type == "Профили (new)"){
                loadTraders()
              }
              else if(type == "Имена (pre)"){
                loadUsernames()
              }
              else if (type == "Подписки (on)"){
                loadSubscribes()
              }
            }

            function loadTraders(){
              const formData = new FormData();
              const file = fileInput.files[0];
              messageContainer.innerHTML = "Добавляем данные, можете закрывать страницу"
              messageContainer.classList.remove("error")
              formData.append("csv_file", file)
              fetch("/traders/", {
                  method: "POST",
                  body: formData
              }).then(resposne => {
                  if (resposne.status === 200){
                      messageContainer.innerHTML = "Данные добавились! Обновите страницу, чтобы увидеть их"
                  }
                  else{
                      messageContainer.classList.add("error")
                      messageContainer.innerHTML = "Что-то пошло не так, попробуйте позже"
                  }
              })
          }
          function loadUsernames(){
            const formData = new FormData();
            const file = fileInput.files[0];
            messageContainer.innerHTML = "Добавляем данные, можете закрывать страницу"
            messageContainer.classList.remove("error")
            formData.append("txt_file", file)
            fetch("/usernames/", {
                method: "POST",
                body: formData
            }).then(resposne => {
                if (resposne.status === 200){
                    messageContainer.innerHTML = "Данные добавились! Обновите страницу, чтобы увидеть их"
                }
                else{
                    messageContainer.classList.add("error")
                    messageContainer.innerHTML = "Что-то пошло не так, попробуйте позже"
                }
            })
        }
        function loadSubscribes(){
          const formData = new FormData();
          const file = fileInput.files[0];
          messageContainer.innerHTML = "Добавляем данные, можете закрывать страницу"
          messageContainer.classList.remove("error")
          formData.append("txt_file", file)
          fetch("/subscribes/", {
              method: "POST",
              body: formData
          }).then(resposne => {
              if (resposne.status === 200){
                  messageContainer.innerHTML = "Данные добавились! Обновите страницу, чтобы увидеть их"
              }
              else{
                  messageContainer.classList.add("error")
                  messageContainer.innerHTML = "Что-то пошло не так, попробуйте позже"
              }
          })
      }
        </script>
      </div>
    </div>
    <style>
      .filter-container{
        border-radius: 5px;
        margin: 7px 5px;
        width: calc(100% - 20px);
        background-color: rgb(240, 240, 255);
        display: flex;
        gap: 10px;
        font-size: 10px;
        padding: 5px;
        align-items: end;
        padding-top: 5!important;
        min-width: 1050px;
      }
      .filter-container .string{
        display: flex;
        gap: 10px;
      }
      .filter-container select{
        padding: 5px 7px;
        border-radius: 5px;
        border: 1px solid rgb(230, 230, 230);
        color: rgb(130, 130, 130)
      }
      .filter-container input{
        padding: 5px 7px;
        border-radius: 5px;
        border: 1px solid rgb(230, 230, 230);
        color: rgb(130, 130, 130)
      }
    </style>
    <div class="card-body border-bottom py-3">
      <div class="d-flex justify-content-between">
        <div class="dropdown col-4">
          <button {% if not model_view.can_delete and not model_view._custom_actions_in_list %} disabled {% endif %}
            class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          {% if model_view.can_delete or model_view._custom_actions_in_list %}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if model_view.can_delete %}
            <a class="dropdown-item" id="action-delete" href="#" data-name="{{ model_view.name }}"
              data-url="{{ url_for('admin:delete', identity=model_view.identity) }}" data-bs-toggle="modal"
              data-bs-target="#modal-delete">Delete selected items</a>
            {% endif %}
            {% for custom_action, label in model_view._custom_actions_in_list.items() %}
            {% if custom_action in model_view._custom_actions_confirmation %}
            <a class="dropdown-item" id="action-customconfirm-{{ custom_action }}" href="#" data-bs-toggle="modal"
              data-bs-target="#modal-confirmation-{{ custom_action }}">
              {{ label }}
            </a>
            {% else %}
            {% if custom_action == "add-to-buffer" %}
            <a class="dropdown-item" id="action-custom-{{ custom_action }}" href="/admin/trader-orm/action/add-to-buffer/?{{ request.url.query }}">
              {{ label }}
            </a>
            {% else %}
            <a class="dropdown-item" id="action-custom-{{ custom_action }}" href="#"
              data-url="{{ model_view._url_for_action(request, custom_action) }}">
              {{ label }}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% if model_view.column_searchable_list %}
        <div class="col-md-4 text-muted">
          <div class="input-group">
            <input id="search-input" type="text" class="form-control"
              placeholder="Search: {{ model_view.search_placeholder() }}"
              value="{{ request.query_params.get('search', '') }}">
            <button id="search-button" class="btn" type="button">Search</button>
            <button id="search-reset" class="btn" type="button" {% if not request.query_params.get('search')
              %}disabled{% endif %}><i class="fa-solid fa-times"></i></button>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body border-bottom py-3 search-container">
      <input placeholder="usernames..." type="text" id="search-usernames" value="{{ request.query_params.get('search', '')}}">
      <button class="btn btn-primary" onclick="search()">поиск</button>
    </div>

    <style>
      .search-container{
        background-color: rgb(210, 240, 250);
        border-radius: 7px;
        width: calc(100% - 20px);
        margin: 10px;
        display: flex;
        gap: 10px;
      }

      .search-container input{
        border: 1px solid rgb(230, 230, 230);
        color: rgb(130, 130, 130);
        width: 100%;
        border-radius: 5px;
        padding: 3px 8px;
      }
    </style>

    <script>
      function search(){
        const searchString = document.getElementById("search-usernames").value;
        if (searchString == undefined){
          addParam('search', '');
        }
        else{
          addParam('search', searchString);
        }
      }
    </script>

    <div class="card-body border-bottom py-3 filter-container">
      <div class="ms-3 d-inline-block dropdown">
        <div class="searchable-container">
          Монитор
          <div>
            <select id="watch">
              <option {% if request.query_params.get('watch', '') == "" %}selected{% endif %} value="">Все</option>
              {% for watch in model_view.model.watches %}
                <option {% if request.query_params.get('watch') == watch %}selected{% endif %} value="{{ watch }}">{{ watch }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="searchable-container">
        Статус
        <div>
          <select style="width: 120px;" id="status">
            <option {% if request.query_params.get('portfolio', '') == "" %}selected{% endif %} value="">Все</option>
            {% for status in model_view.model.statuses %}
              <option {% if request.query_params.get('status') == status %}selected{% endif %} value="{{ status }}">{{ status }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="searchable-container">
        Портфель
        <div>
          <select style="width: 70px;" id="watch">
            <option {% if request.query_params.get('portfolio', '') == "" %}selected{% endif %} value="">Все</option>
            <option {% if request.query_params.get('portfolio') == '<10K' %}selected{% endif %} value="<10K">&lt;10K</option>
            <option {% if request.query_params.get('portfolio') == '10-50K' %}selected{% endif %} value="10-50K">10-50K</option>
            <option {% if request.query_params.get('portfolio') == '50-100K' %}selected{% endif %} value="50-100K">50-100K</option>
            <option {% if request.query_params.get('portfolio') == '100-500K' %}selected{% endif %} value="100-500K">100-500K</option>
            <option {% if request.query_params.get('portfolio') == '500K-1M' %}selected{% endif %} value="500K-1M">500K-1M</option>
            <option {% if request.query_params.get('portfolio') == '1-5M' %}selected{% endif %} value="1-5M">1-5M</option>
            <option {% if request.query_params.get('portfolio') == '5-10M' %}selected{% endif %} value="5-10M">5-10M</option>
            <option {% if request.query_params.get('portfolio') == '10M+' %}selected{% endif %} value="10M+">10M+</option>
          </select>
        </div>
      </div>

      <div class="searchable-container">
        Сделки
        <div>
          <input style="width: 50px;" name="trades_l" id="trades_l" value="{{ request.query_params.get('deals_l', '') }}"/>
          <input style="width: 50px;" name="trades_r" id="trades_r" value="{{ request.query_params.get('deals_r', '') }}"/>
        </div>
      </div>

      <div class="searchable-container">
        Прибыль
        <div>
          <input style="width: 50px;" name="profit_l" id="profit_l" value="{{ request.query_params.get('profit_l', '') }}"/>
          <input style="width: 50px;" name="profit_r" id="profit_r" value="{{ request.query_params.get('profit_r', '') }}"/>
        </div>
      </div>

      <div class="searchable-container">
        Подписчики
        <div class="string">
          <input style="width: 50px;" name="subscribers_l" id="subscribers_l" value="{{ request.query_params.get('subscribers_l', '') }}"/>
          <input style="width: 50px;" name="subscribers_r" id="subscribers_r" value="{{ request.query_params.get('subscribers_r', '') }}"/>
        </div>
      </div>

      <div class="searchable-container">
        Подписан
        <div>
          <input style="width: 50px;" name="subscribes_l" id="subscribes_l" value="{{ request.query_params.get('subscribes_l', '') }}"/>
          <input style="width: 50px;" name="subscribes_r" id="subscribes_r" value="{{ request.query_params.get('subscribes_r', '') }}"/>
        </div>
      </div>

      <div class="searchable-container">
        Счётчик
        <div>
          <input style="width: 50px;" name="count_l" id="count_l" value="{{ request.query_params.get('count_l', '') }}"/>
          <input style="width: 50px;" name="count_r" id="count_r" value="{{ request.query_params.get('count_r', '') }}"/>
        </div>
      </div>

      <div class="searchable-container">
        Бейджи
        <div>
          <select id="badges">
            <option {% if request.query_params.get('badge', '') == "" %}selected{% endif %} value="">Все</option>
            <option {% if request.query_params.get('badge') == "Верифицирован" %}selected{% endif %} value="Верифицирован">Вериф.</option>
            <option {% if request.query_params.get('badge') == "Автор стратегии" %}selected{% endif %} value="Автор стратегии">Автор</option>
            <option {% if request.query_params.get('badge') == "Выбор Т-Инвестиций" %}selected{% endif %} value="Выбор Т-Инвестиций">Выбор</option>
            <option {% if request.query_params.get('badge') == "Популярный" %}selected{% endif %} value="Популярный">Попул.</option>
            <option {% if request.query_params.get('badge') == "Помощник пульса" %}selected{% endif %} value="Помощник пульса">Помощ.</option>
          </select>
        </div>
      </div>

      <button class="btn btn-primary" onclick="filter()">фильтр</button>
    </div>

    <div class="table-responsive" style="min-height: 200px;">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all"
                id="select-all"></th>

            {% for name in model_view._list_prop_names %}
            {% set label = model_view._column_labels.get(name, name) %}
            <th>
              {% if name in model_view._sort_fields %}
                {% if request.query_params.get("sortBy") == name and request.query_params.get("sort") == "asc" %}
                <a href="{{ request.url.include_query_params(sort='desc') }}"><i class="fa-solid fa-arrow-up"></i> {{
                  label }}</a>
                {% elif request.query_params.get("sortBy") == name and request.query_params.get("sort") == "desc" %}
                <a href="{{ request.url.include_query_params(sort='asc') }}"><i class="fa-solid fa-arrow-down"></i> {{ label
                  }}</a>
                {% else %}
                <a href="{{ request.url.include_query_params(sortBy=name, sort='desc') }}">{{ label }}</a>
                {% endif %}
              {% else %}
                <style>
                  .searchable-container{
                    display: flex;
                    flex-direction: column;
                  }
                </style>
                {{ label }}
              {% endif %}
            </th>
            {% endfor %}
            <th class="w-1"></th>
          </tr>
        </thead>
        <script>
          function filter(){
            const trades_l = document.getElementById("trades_l").value;
            const trades_r = document.getElementById("trades_r").value;
            const profit_l = document.getElementById("profit_l").value;
            const profit_r = document.getElementById("profit_r").value;

            const subscribes_l = document.getElementById("subscribes_l").value;
            const subscribes_r = document.getElementById("subscribes_r").value;

            const subscribers_l = document.getElementById("subscribers_l").value;
            const subscribers_r = document.getElementById("subscribers_r").value;

            const badge = document.getElementById("badges").value;
            const watch = document.getElementById("watch").value;

            const count_l = document.getElementById("count_l").value;
            const count_r = document.getElementById("count_r").value;

            addParams([
              ['watch', watch],
              ['deals_l', trades_l],
              ['deals_r', trades_r],
              ['profit_l', profit_l],
              ['profit_r', profit_r],

              ['subscribes_l', subscribes_l],
              ['subscribes_r', subscribes_r],

              ['count_l', count_l],
              ['count_r', count_r],
              ['subscribers_l', subscribers_l],
              ['subscribers_r', subscribers_r],

              ['badge', badge]
            ]);
          }
          function addParams(list){
            const currentUrl = new URL(window.location.href);
            for (let param of list){
              const [key, value] = param;
              currentUrl.searchParams.set(key, value);
            }
            window.location.href = currentUrl.toString();
          }

          function addParam(key, value){
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set(key, value);
            window.location.href = currentUrl.toString();
          }
        </script>
        <tbody>
          {% for row in pagination.rows %}
          <tr>
            <td>
              <input type="hidden" value="{{ get_object_identifier(row) }}">
              <input class="form-check-input m-0 align-middle select-box" type="checkbox" aria-label="Select item">
            </td>

            {% for name in model_view._list_prop_names %}
            {% set value, formatted_value = model_view.get_list_value(row, name) %}
            {% if name in model_view._relation_names %}
            {% if is_list( value ) %}
            <td>
              {% for elem, formatted_elem in zip(value, formatted_value) %}
              <a href="{{ model_view._build_url_for('admin:details', request, elem) }}">({{ formatted_elem }})</a>
              {% endfor %}
            </td>
            {% else %}
            <td><a href="{{ model_view._url_for_details_with_prop(request, row, name) }}">{{ formatted_value }}</a></td>
            {% endif %}
            {% else %}
            <td>{{ formatted_value }}</td>
            {% endif %}
            {% endfor %}

            <td class="text-end">
              {% if model_view.can_view_details %}
              <a href="{{ model_view._build_url_for('admin:details', request, row) }}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="View">
                <span class="me-1"><i class="fa-solid fa-eye"></i></span>
              </a>
              {% endif %}
              {% if model_view.can_edit %}
              <a href="{{ model_view._build_url_for('admin:edit', request, row) }}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Edit">
                <span class="me-1"><i class="fa-solid fa-pen-to-square"></i></span>
              </a>
              {% endif %}
              {% if model_view.can_delete %}
              <a href="#" data-name="{{ model_view.name }}" data-pk="{{ get_object_identifier(row) }}"
                data-url="{{ model_view._url_for_delete(request, row) }}" data-bs-toggle="modal"
                data-bs-target="#modal-delete" title="Delete">
                <span class="me-1"><i class="fa-solid fa-trash"></i></span>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center gap-2">
      <p class="m-0 text-muted">Showing <span>{{ ((pagination.page - 1) * pagination.page_size) + 1 }}</span> to
        <span>{{ min(pagination.page * pagination.page_size, pagination.count) }}</span> of <span>{{ pagination.count
          }}</span> items
      </p>
      <ul class="pagination m-0 ms-auto">
        <li class="page-item {% if not pagination.has_previous %}disabled{% endif %}">
          {% if pagination.has_previous %}
          <a class="page-link" href="{{ pagination.previous_page.url }}">
            {% else %}
            <a class="page-link" href="#">
              {% endif %}
              <i class="fa-solid fa-chevron-left"></i>
              prev
            </a>
        </li>
        {% for page_control in pagination.page_controls %}
        <li class="page-item {% if page_control.number == pagination.page %}active{% endif %}"><a class="page-link"
            href="{{ page_control.url }}">{{ page_control.number }}</a></li>
        {% endfor %}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
          {% if pagination.has_next %}
          <a class="page-link" href="{{ pagination.next_page.url }}">
            {% else %}
            <a class="page-link" href="#">
              {% endif %}
              next
              <i class="fa-solid fa-chevron-right"></i>
            </a>
        </li>
      </ul>
      <div class="dropdown text-muted">
        Show
        <a href="#" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ request.query_params.get("pageSize") or model_view.page_size }} / Page
        </a>
        <div class="dropdown-menu">
          {% for page_size_option in model_view.page_size_options %}
          <a class="dropdown-item" href="{{ request.url.include_query_params(pageSize=page_size_option, page=pagination.resize(page_size_option).page) }}">
            {{ page_size_option }} / Page
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% if model_view.can_delete %}
  {% include 'sqladmin/modals/delete.html' %}
  {% endif %}

  {% for custom_action in model_view._custom_actions_in_list %}
  {% if custom_action in model_view._custom_actions_confirmation %}
  {% with confirmation_message = model_view._custom_actions_confirmation[custom_action], custom_action=custom_action,
  url=model_view._url_for_action(request, custom_action) %}
  {% include 'sqladmin/modals/list_action_confirmation.html' %}
  {% endwith %}
  {% endif %}
  {% endfor %}
</div>
<style>
  td{
      font-size: 12px;
  }
</style>
{% endblock %}
